<section>
  <div class="container">
    <div class="text">
      <h2>Choose a plan that right for
        your business</h2>
        <p>
          We collect reviews from our users so you can get an honest opinion of what an experience with our website are really like!
        </p>
    </div>
    <div class="plans">
      <div class="plans__item">
        <p class="plan">Starter Plan</p>
        <p class="price">Free<span><i>per month</i></span></p>
        <p class="paragraph">We collect reviews from our users so you can get an honest opinion of what an experience with our website.</p>
        <button>Start Now</button>
      </div>
      <div class="plans__item">
        <p class="plan">Business Plan</p>
        <p class="price_2">$39.00<span><i>per month</i></span></p>
        <p class="paragraph">We collect reviews from our users so you can get an honest opinion of what an experience with our website.</p>
        <button>Start Now</button>
      </div>
      <div class="plans__item">
        <p class="plan">Premium Plan</p>
        <p class="price-3">$59.00<span><i>per month</i></span></p>
        <p class="paragraph">We collect reviews from our users so you can get an honest opinion of what an experience with our website.</p>
        <button>Start Now</button>
      </div>
    </div>
  </div>
</section>
