<section>
  <div class="container">
    <div class="image">
      <img
        src="assets/review.jpg"
        alt="a man with laptop"
        width="600"
        height="600"
      />
    </div>
    <div class="text">
      <h3>We help companies to find talents</h3>
      <p>
        We collect reviews from our users so you can get an honest opinion of
        what an experience with our website are really like!
      </p>
    </div>
    <div class="slider">
      <app-slider></app-slider>
    </div>
  </div>
</section>
