<main>
  <div class="container">
    <div class="text">
      <p>
        Searching for a job? Find the <span>best startup</span> job that fits
        you.
      </p>
    </div>
    <div class="inputs">
      <span> 
        <input
          type="text"
          name="job"
          id="job"
          placeholder="Job Title or Keyword"
        />
      </span>
      <select>
        <option value="EG">Egypt</option>
        <option value="KSA">Saudi Arabia</option>
        <option value="UK">United Kingdom</option>
        <option value="USA">United States</option>
      </select>
      <button type="submit">Search Job</button>
    </div>
  </div>
</main>
