<div class="slider">
  <div class="slider__item">
    <img class="slider__img" src="assets/google-header.png" alt="google" />
    <p class="slider__text">We collect reviews
      from our users so
      you can get an
      honest opinion of
      what an experience.</p>
  </div>
  <div class="slider__item">
    <img class="slider__img" src="assets/fb.png" alt="facebook" />
    <p class="slider__text">We collect reviews
      from our users so
      you can get an
      honest opinion of
      what an experience.</p>
  </div>
  <div class="slider__item">
    <img class="slider__img" src="assets/slack.png" alt="slack" />
    <p class="slider__text">We collect reviews
      from our users so
      you can get an
      honest opinion of
      what an experience.</p>
  </div>
  <div class="slider__item">
    <img class="slider__img" src="assets/google-header.png" alt="google" />
    <p class="slider__text">We collect reviews
      from our users so
      you can get an
      honest opinion of
      what an experience.</p>
  </div>
  <div class="slider__item">
    <img class="slider__img" src="assets/fb.png" alt="facebook" />
    <p class="slider__text">We collect reviews
      from our users so
      you can get an
      honest opinion of
      what an experience.</p>
  </div>
  <div class="slider__item">
    <img class="slider__img" src="assets/slack.png" alt="slack" />
    <p class="slider__text">We collect reviews
      from our users so
      you can get an
      honest opinion of
      what an experience.</p>
  </div>
</div>